<div class="space-y-2 mb-6">
  <div class="flex flex-row justify-between">
    <p class="text-gray-500 dark:text-gray-300"><%= link_to entry.feed.title, feed_url(entry.feed) %></p>
    <p class="text-gray-500 dark:text-gray-300 text-xs" data-relative-timestamp="<%= timestamp_with_millis(entry.published_date) %>"><%= time_ago_in_words entry.published_date %> ago</p>
  </div>

  <h2 class="font-semibold text-gray-900 dark:text-white title-font"><%= entry.title %></h2>

  <p class="dark:text-gray-300 text-sm"><%= entry.description.truncate_words(80) %></p>
  <p class="dark:text-white text-sm font-semibold"><%= link_to entry.link&.truncate(80), entry.link, target: "_blank" %></p>

  <img class="rounded" src="<%= entry.readable_content.dig('table', 'lead_image_url') %>"  />
</div>
