<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Huey</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>

    <%= yield :head %>
  </head>
  <body class="bg-white dark:bg-slate-800 dark:text-white">
    <header class="container mx-auto ">
      <div class="px-2 pt-2 items-center">
        <a class="font-semibold ml-auto text-xl" href="/">
          <span>Huey</span>
        </a>
      </div>
      <div class="px-2 pb-2 items-center">
        <a class="ml-auto text-xs text-gray-500 dark:text-gray-300 uppercase" href="/">
          <span><%= DateTime.now.strftime("%B %d, %Y") %></span>
        </a>
      </div>
    </header>

    <div class="container mx-auto">
      <%= yield %>
    </div>
  </body>
</html>
